<suite name="Elevation Parallel Suite" parallel="tests" thread-count="2">

    <!-- Test grupa za Firefox -->
    <test name="Elevation Test - FIREFOX">
        <parameter name="browser" value="firefox" />
        <parameter name="executionType" value="local" />
        
        <classes>
            <class name="tests.TestClass" />
        </classes>
    </test>

    <!-- Test grupa za Edge -->
    <test name="Elevation Test - EDGE">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="tests.TestClass" />
        </classes>
    </test>

</suite>